---
env_name: {env}

repository: {git_repo}
repository_branch: {branch}

deploy_user: {server_user}
deploy_port: {server_ssh_port}
webserver_user: {server_user}
project_name: {project_name}
remote_project_folder: {server_path}
domain: {project_domain}
amount_of_releases: {num_releases_to_keep}

local_deployment_temporal_folder: "/tmp/{{ project_name }}"
remote_releases_folder: "{{ remote_project_folder }}/releases"
remote_shared_folder: "{{ remote_project_folder }}/shared"
datetime: "{{ ansible_date_time.iso8601_basic_short }}"
